*{
    box-sizing: border-box;
    }
    
    .box{

    width:400px;

    height:400px;

    margin:10% auto; 

    border: dotted 5px rgba(0,0,0,0.9);

    padding:70px;
    }

    .container{
        justify-content: center;
        display: flex;
    }

    .produtos img {
        width: 180px; 
        height: 200px; 
        border-radius: 10px; 
    }

    .produtos img:hover {
        transform: scale(1.10);
    }